APScheduler==3.5.3
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.10.15
chardet==3.0.4
Click==7.0
Flask==1.0.2
funcsigs==1.0.2
futures==3.2.0
gunicorn==19.9.0
idna==2.7
ItsDangerous==1.0.0
Jinja2==2.10
MarkupSafe==1.0
pytz==2018.5
requests==2.20.0
selenium==3.14.1
six==1.11.0
tzlocal==1.5.1
urllib3==1.26.5
virtualenv==16.0.0
Werkzeug==0.14.1
